## Configuraciones locales
appsettings*.json
appsettings.*.json

## Archivos temporales
bin/
obj/
Properties/
.vscode/
.idea/

## Otros
*.user
*.suo
*.userprefs

## Archivos generados durante la publicación
publish/
